#bar {
  background: #84c318;
  height: 100%;
}
#countdownWrap {
  position: absolute;
  bottom: 10%;
  height: 1.5%;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}
