#input {
  width: 90%;
  height: 6vh;
  background-color: transparent;
  border: 1px solid #252525;
  position: relative;
  border-radius: 5px;
  margin: 10px;
  font-size: 1vw;
  color: rgb(10, 10, 10);
  padding: 10px;
}
#input::placeholder {
  font-size: 1vw;
  color: rgb(22, 22, 22);
}
#input:focus {
  outline: none;
  border: 1px solid #2e2e2e;
  background-color: #38383825;
}
@media (max-width: 1300px) {
  #input {
    font-size: 2vw;
    margin: 0.5vw;
  }
  #input::placeholder {
    font-size: 2vw;
  }
}
@media (max-width: 600px) {
  #input {
    font-size: 2.5vw;
    margin: 0.75vw;
  }
  #input::placeholder {
    font-size: 2.5vw;
  }
}
